.user-info-section {
  flex: 1 1 2%;
  margin: .8rem;
  padding: 1.2rem;
  border-radius: 1rem;
  color: #1b4332;
  background-color: #fff;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.3);
}

.user-info-section .avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info-section .avatar {
  width: 16rem;
  margin: 3rem;
  border-radius: 50%;
}
