.welcome {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  /* Add gradient overlay to background img */
  box-shadow: inset 0 0 0 100vw rgba(6, 99, 34, 0.9);
  background-position: center;
  background-size: cover;
}

.welcome-panel1,
.welcome-panel2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-panel1 {
  color: #ffffff;
  color: --main-color;
}

.welcome-logo {
  font-size: 8rem;
  margin-right: 3rem;
  
  animation: moveInLeft 1s ease-out;
  /* transform: translateX(10rem); */
  /* transition: all .3s; */
}

.welcome-tag-line {
  font-size: 2.2rem;
  margin-left: 3rem;

  animation: moveInRight 1s ease-out;
}

@media screen and (min-width: 768px) {
  .welcome {
    flex-direction: row;
  }

  .welcome-panel1,
  .welcome-panel2 {
    flex: 1 1 50%;
  }
}

@media screen and (min-width: 1028px) {
  
}

/* .welcome-panel2 {
  position: relative;
} */

.access-form {
  width: 70%;
  max-width: 45rem;
  padding: 3.6rem;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.3);
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: .6rem;
  color: #1b4332;
  
  display: flex;
  flex-direction: column;
}

.access-form-heading {
  font-size: 2.8rem;
  margin-top: .8rem 0;
}

.access-form form {
  display: flex;
  flex-direction: column;
}

.access-form label {
  margin-top: .4rem;
  font-size: 1.2rem;

  transition: all .3s;
}

.access-form label.placeholder-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(3rem);
}

.access-form input {
  height: 3.6rem;
  padding: .6rem;
  outline: none;
  border: #cccccc 1px solid;
  border-radius: .3rem;
  /* appearance: none; */
}

/* TODO: Reconsider this */
.access-form input.invalid {
  background: rgb(243, 170, 170);
}

.access-form button {
  height: 3.6rem;
  margin-top: 1.2rem;
  /* border: #cccccc 1px solid; */
  border: none;
  border-radius: .3rem;
  transition: all 300ms;
}

.access-form .submit-btn {
  color: #fff;
  background-color: var(--green-medium);
}

.access-form .submit-btn:hover {
  background-color: var(--green-dark);
}

.access-form .member-btn {
  background-color: var(--gray-light);
}

.access-form .member-btn:hover {
  background-color: var(--gray-medium);
}

.access-form button:disabled {
  background: rgb(136, 136, 136);
  color: rgb(61, 61, 61);
  cursor: not-allowed;
}

/* Make separate component? */
.error-message {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 2rem;
  top: -10rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(245, 105, 105);
  border-radius: .5rem;
  background-color: rgb(243, 170, 170);
  color: rgb(230, 67, 67);
}

@media screen and (min-width: 768px) {
  .access-form {
    /* width: 70%; */
    padding: 4.8rem;
    box-shadow: 2px 2px 1.6rem rgba(0, 0, 0, 0.3);
  }
}

@media screen and (min-width: 1028px) {
  .access-form {
    /* width: 70%; */
    /* padding: 4.8rem; */
    box-shadow: 2px 2px 1.8rem rgba(0, 0, 0, 0.3);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
