.event-card {
  margin: .8rem;
  padding: 1.2rem;
  border-radius: .6rem;
  cursor: pointer;
  color: #1b4332;
  background-color: #fff;

  display: flex;
}

.event-card .avatar {
  height: 6rem;
  width: 6rem;
  margin-right: 2rem;
  border-radius: 50%;
}

.event-card .event-card-info {
  width: 100%;
}

.event-card .feedback-tray {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.event-card .feedback-container {
  display: flex;
}

.event-card .likes {
  margin-right: 1rem;
}

.event-card .attend-btn {
  padding: .7rem 1.4rem;
}

.attendee-list {
  display: flex;
  margin-left: 2rem;
}

.attendee-avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-left: -.8rem;
}

.attend-btn {
  background-color: #1f6840;
  color: #fff;
  border: none;
  justify-self: flex-end;
  border-radius: 3rem;
}
