.event-card {
  margin: .8rem;
  padding: 1.2rem;
  border-radius: .6rem;

  display: flex;
}

.event-card .avatar {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.event-card .feedback-tray {

  display: flex;
}




.attendee-list {
  display: flex;
  margin-left: 2rem;
}

.attendee-avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-left: -.8rem;
}
