.welcome {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.welcome-panel1,
.welcome-panel2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-logo {
  font-size: 8rem;
}

.welcome-tag-line {
  font-size: 2.2rem;
}

@media screen and (min-width: 768px) {
  .welcome {
    flex-direction: row;
  }

  .welcome-panel1,
  .welcome-panel2 {
    flex: 1 1 50%;
  }
}

@media screen and (min-width: 1028px) {
  
}