:root {
  --green-light: #99b9b0;
  --green-medium: #3f815d;
  --green-dark: #3a664e;
  --green-darkest: #1b4332;

  --gray-light: #f3f3f3;
  --gray-medium: #d4d1d1;
  --gray-dark: #7a7a7a;

  --red-light: #f57862;
  --red-medium: #e7573d;
  --red-dark: #251a17;
  /* --red-darkest: #3a664e; */

  --radius-sm: .3rem;
  --radius-md: .6rem;

  --shadow-md: 2px 2px 1rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  /* font-family: 'Nunito Sans', sans-serif; */
  box-sizing: border-box;
}

/* MOBILE: setting 1rem = 8px (8px / 16px) */
html {
  font-size: 50%;
}

/*  TABLET: setting 1rem = 9px (9px / 16px) */
@media screen and (min-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

/* DESKTOP: setting 1rem = 10px */
@media screen and (min-width: 1028px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-size: 1.6rem;
  /* color: var(--green-darkest); */
}
