.header {
  height: 6rem;
  background-color: #99b9b0;
  color: #fff;
  position: fixed;
  width: 100%;

  display: flex;
  justify-content: center;
}

.header a {
  text-decoration: none;
}

.header-container {
  width: 100%;
  max-width: 120rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 2.4rem;
  font-weight: 800;
  color: #1b4332;
  color: #fff;
}

.header .logo-pick {
  display: inline-block;
  transform: translateY(2px);
}

.header .logo-up {
  display: inline-block;
  transform: translateY(-2px);
}

.header .nav-links {

  height: 100%;
}

.header .nav-links ul {
  height: 100%;
  display: flex;
}

.header .nav-links li {
  list-style: none;
  margin: auto .8rem auto 0;
}

.header .nav-links li:last-child {
  margin-right: 0;
}

.header .nav-links li>* {
  padding: .7rem 1.4rem;
  border-radius: 2rem;
  font-size: 1.6rem;
}

.header .nav-links a {
  /* color: #fff; */
  color: #3a664e;
  transition: all 500ms;
}

.header .nav-links a:hover,
.header .nav-links a:active {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  /* background-color: #3f815d; */
  /* color: #000; */
  color: #203529;
}

.header .nav-links button {
  /* background-color: #3a664e; */
  /* color: #fff; */
  background-color: #99b9b0;
  color: #3a664e;
  border: none;
  transition: all 500ms;
}

.header .nav-links button:hover,
.header .nav-links button:active {
  /* background-color: #3f815d; */
  color: #203529;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
