.header {
  height: 6rem;

  display: flex;
  justify-content: center;
}

.header-container {
  width: 100%;
  max-width: 120rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links ul {
  display: flex;
}

