.header {
  height: 6rem;
  background-color: #214d35;
  color: #fff;

  display: flex;
  justify-content: center;
}

.header a {
  text-decoration: none;
}

.header-container {
  width: 100%;
  max-width: 120rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 2.4rem;
  font-weight: 800;
  color: #fff;
}

.header .nav-links {

  height: 100%;
}

.header .nav-links ul {
  height: 100%;
  display: flex;
}

.header .nav-links li {
  list-style: none;
  margin: auto .8rem auto 0;
}

.header .nav-links li:last-child {
  margin-right: 0;
}

.header .nav-links li>* {
  padding: .7rem 1.4rem;
  border-radius: 2rem;
  font-size: 1.6rem;
}

.header .nav-links a {
  /* padding: .4rem .8rem;
  border-radius: 1.4rem; */
  transition: all 500ms;
  color: #fff;
}

.header .nav-links a:hover,
.header .nav-links a:active {
  /* background-color: #fff; */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  background-color: #3f815d;
  /* color: #000; */
}

.header .nav-links button {
  background-color: #214d35;
  color: #fff;
  border: none;
}

.header .nav-links button:hover,
.header .nav-links button:active {
  background-color: #3f815d;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
